@{
    ViewData["Title"] = "Monthly";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><span class="fa fa-chart-pie"></span> Reports</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Reports</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="chart-title">
                                <h4>Monthly Income</h4>
                            </div>
                            <table class="table table-bordered mytable">
                                <thead>
                                    <tr>
                                        <th>Month</th>
                                        <th>Income</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>January</td>
                                        <td>55000</td>
                                    </tr>
                                    <tr>
                                        <td>February</td>
                                        <td>33650</td>
                                    </tr>
                                    <tr>
                                        <td>March</td>
                                        <td>45900</td>
                                    </tr>
                                    <tr>
                                        <td>April</td>
                                        <td>80000</td>
                                    </tr>
                                    <tr>
                                        <td>May</td>
                                        <td>95000</td>
                                    </tr>
                                    <tr>
                                        <td>June</td>
                                        <td>68000</td>
                                    </tr>
                                    <tr>
                                        <td>July</td>
                                        <td>74000</td>
                                    </tr>
                                    <tr>
                                        <td>August</td>
                                        <td>68500</td>
                                    </tr>
                                    <tr>
                                        <td>September</td>
                                        <td>55800</td>
                                    </tr>
                                    <tr>
                                        <td>October</td>
                                        <td>69000</td>
                                    </tr>
                                    <tr>
                                        <td>November</td>
                                        <td>70000</td>
                                    </tr>
                                    <tr>
                                        <td>December</td>
                                        <td>89000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="chart-title">
                                <h4>Graphical Representaion of Income</h4>
                            </div>
                            <canvas id="bargraph"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row (main row) -->
</div>
<!-- /.container-fluid -->
            </section>
<!-- /.content -->
         </div>
<!-- /.content-wrapper -->
      </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        // Bar Chart

        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "Novermber", "December"],
            datasets: [{
                label: 'Income',
                backgroundColor: 'rgb(79,129,189)',
                borderColor: 'rgba(0, 158, 251, 1)',
                borderWidth: 1,
                data: [55000, 33650, 45900, 80000, 95000, 68000, 74000, 68500, 55800, 69000, 70000, 89000]
            }]
        };

        var ctx = document.getElementById('bargraph').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    display: false,
                }
            }
        });

    });
</script>