@{
    ViewData["Title"] = "Payment";
}
<h1>Payment</h1>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><span class="fa fa-chart-pie"></span> Reports</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Reports</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="chart-title">
                                <h4>Payment Type</h4>
                            </div>
                            <table class="table table-bordered mytable">
                                <thead>
                                    <tr>
                                        <th>Payment Type</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="badge bg-success">Cash</span></td>
                                        <td>500000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="badge bg-info">Credit Card</span></td>
                                        <td>200000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="badge bg-warning">Cheque</span></td>
                                        <td>100000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="badge bg-danger">Others</span></td>
                                        <td>3850</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="chart-title">
                                <h4>Graphical Representaion of Payment Type</h4>
                            </div>
                            <canvas id="chartjs-pie"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row (main row) -->
</div>
<!-- /.container-fluid -->
            </section>
<!-- /.content -->
         </div>
<!-- /.content-wrapper -->
      </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Pie chart
        new Chart(document.getElementById("chartjs-pie"), {
            type: "pie",
            data: {
                labels: ["Cash", "Credit Card", "Cheque", "Others"],
                datasets: [{
                    data: [500000, 200000, 100000, 3850],
                    backgroundColor: [
                        window.theme.success,
                        window.theme.info,
                        window.theme.warning,
                        window.theme.danger,
                    ],
                    borderColor: "transparent"
                }]
            },
            options: {
                maintainAspectRatio: true,
                legend: {
                    display: true
                }
            }
        });

    });
</script>